[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/CamelliaRui/CamelliaRui.github.io.git
	branch = master
[submodule "CamelliaRui.github.io"]
	path = CamelliaRui.github.io
	url = https://github.com/CamelliaRui/CamelliaRui.github.io.git
	branch = master
[submodule "public/CamelliaRui.github.io"]
	path = public/CamelliaRui.github.io
	url = https://github.com/CamelliaRui/CamelliaRui.github.io.git
	branch = master
